* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    overflow: auto;
    margin: 0;
    padding: 0;

    color: #000;
}

a:link {
    font-weight: bold;
    text-decoration: none;
    color: #c0c0c0;
}

a:visited {
    font-weight: bold;
    text-decoration: none;
    color: #0f1cff;
}

a:hover, a:active {
    text-decoration: underline;
    color: #000000;
}

#introduction {
    min-width: 450px;
}

#container {

    width: 80%;
    max-width: 1260px;
    min-width: 750px;
    margin: 0 auto;
}

#header h1 {
    background: transparent url(../pictures/resumepic.jpg) no-repeat top left;
    margin-top: 10px;
    width: 286px;
    height: 75px;
}

#header h1 span {
    display: none;
}

#header {
    padding-top: 20px;
}

h2 {
    text-align: center;
    text-decoration: underline;
    color: #00F;

}

#top-nav, .footer {
    width: 100%;
    text-align: center;
}

#top-nav {
    background-color: #0FF;
}

#top-nav ul li a, .footer ul li a {

    padding: 3em;
    clear: both;

}

#left-nav {
    clear: both;
    width: 20%;
    float: left;
    height: 1em;
}

#content {

    width: 80%;
    float: left;
}

#left-nav ul li {
    list-style: none;
    margin: 20px 0 0 20px;
}

#top-nav ul li, .footer ul li {
    display: inline;
}

.footer {
    padding: 30px;
    clear: both;
    position: relative;
}

.hr {
    height: 5px;
    background: #3CF;
    border: 0;
}

h3 {
    color: #00F;
}

textarea {
    overflow: auto;
}





